@charset "UTF-8";
/*
Color pallet
#675854 - lighter
#553B36 - light
#1D1D1D - darker
*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #1D1D1D;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000050;

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#image {
    display: block;
    background: #1D1D1D url('../imagens/pattern-01.jpg') no-repeat;
    background-position: center right;
    background-size: cover;
    height: 200px;
    
}

section#login > div#form {
    display: block;
    padding: 10px;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#form > p {
    font-size: 0.8em;
    text-align: center;
}

form > div.campo {
    background-color: #00000050;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: #000000;
    
    font-size: 2em;
    width: 45px;
    padding: 3px;
    text-align: center;

}

div.campo > input {
    font-size: 1em;
    width: calc(100% - 50px);
    height: 100%;
    transform: translateY(-9px);
    border: 0px;
    border-radius: 8px;
    padding: px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #1D1D1D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #553B36;
}

form > a.button {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    padding-top: 3px;
    margin-top: 3px;
    background-color: white;
    color: #1D1D1D;
    border-radius: 5px;
    border: 1px solid #1D1D1D;
    text-decoration: none;
    
}

form > a.button:hover {
    background-color: #ccb0a9  ;
}

form > a.button > span {
    font-size: .8em;
}


